.git
.gitignore
.env
.env.*
.DS_Store
**/.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
.venv/
backend/venv/
backend/.venv/
backend/.venv/
frontend/
coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
